<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="row 100% uniform">
				<div class="12u 12u$(medium) links">
					<!-- <div class="footerbox">
						<p style="margin-bottom: 0">&copy; {{ site.title }} 2022&nbsp;&nbsp;|&nbsp;&nbsp;{{ site.subtitle }}&nbsp;&nbsp;|&nbsp;&nbsp;Website by <a href="https://johnhayn.es" target="_blank">John Haynes</a>
					</div> -->
				</div>
			</div>
		</div>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
