
<h3 style="margin-bottom: 0.5em;">Your {{ page.title }}</h3>	

<!-- Maths -->	
<table class="alt">
	<tbody>
		<tr> 
			<th width="50%">Item</th>
			<th width="50%">$USD</th>
		</tr>
		<tr>
			<td>
				<p>Base Price</p>
			</td>
			<td>
				<span value="${{page.price-usd}}" id="base-price">${{page.price-usd}}</span>
			</td>
		</tr>
		<tr>
			<td>
				<p>Customisations</p>
			</td>
			<td>
				<span value="$0" id="payment-custom">$0</span>
			</td>
		</tr>
		<tfoot>
			<td>
				<p style="font-weight: 700;">Total (USD)</p>
			</td>
			<td>
				<input style="font-weight: 700;" type="text" value="${{page.price-usd}}" id="payment-total" name="total-price" disabled></input>
			</td>
		</tfoot>
	</tbody>
</table>

<!-- Email -->
<h4 style="margin-bottom: 0.5em;">Submit your quote</h4>
<div style="margin-bottom: 0.5em">
	<input placeholder="email@moarguitars.com" type="email" id="email" name="email" required>
</div>
<p style="margin-bottom: 2em; font-size: 0.6em">Enter your email to save a copy of this quote and share it with the Moar Guitars team.</p>

<!-- Submit -->
<ul class="actions" style="margin-bottom: 0;">
	<li style="width:100%; padding:0;"><input id="submit" type="submit" value="Save and Send Quote" class="button special fit"/></li>
<!-- 			<li style="width:100%; padding:0;"><input id="reset" type="reset" value="Start again" class="button small fit"  onclick="setTimeout(updateTotals,20);" /></li> -->
	<input type="hidden" name="_next" id="next" value="{{ site.baseurl }}/order-placed" />
</ul>
</p>