<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">

<section style="border:0;">
	<div class="inner">
		<div class="row 100% uniform">
		    <div class="12u 12u$(medium)">
		      	<header class="major">
					<h1>{{ page.title }}</h1>
				</header>
				<p>Check out my upcoming builds list. They are in a “first come, first served” basis, with the first being my immediate priority to get shipped, and then getting gradually less urgent as you go down the list. I start working on a build as soon as its ordered, sourcing the woods and hardware, doing rough cuts on the body etc, so if you’re guitar is a long way down the list, don’t despair, it has been started, but it’s probably not getting its last coat of oil yet!</p>
				<p>If you have placed an order and your guitar isn’t on the list then it means either  it’s done, and I’m arranging the final payment and shipping, or you’ve not paid a holding deposit yet.</p>
		      	<div class="table-wrapper fit">
					{% include waitlist.html %}
				</div>
		    </div>
	  	</div>
	</div>
</section>

</div>

    {% include footer.html %}

</body>

</html>